body{
  /* found on heropatterns.com */
background-color: #0e001c;
opacity: 0.9;
background-image:  linear-gradient(135deg, #17002f 25%, transparent 25%), linear-gradient(225deg, #17002f 25%, transparent 25%), linear-gradient(45deg, #17002f 25%, transparent 25%), linear-gradient(315deg, #17002f 25%, #0e001c 25%);
background-position:  10px 0, 10px 0, 0 0, 0 0;
background-size: 10px 10px;
background-repeat: repeat;
    text-align: center;
    vertical-align: center;
}
h1{
    color: rgb(174, 116, 255);
    font-family: 'Stencil Std, fantasy';   
    padding:20px 0;
    border: 5px, rgb(56, 1, 107);
}
h2{
    color: rgb(26, 55, 133);
    font-family: 'Jazz LET, fantasy';
    padding: 10px 0;
    font-size: 35px;
}
p{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 5px;
}
table, th, td{
  border:1px solid black;
  color:white;
  text-align: center;
}
h3{
    color: rgb(42, 42, 248);
    font-family: 'Courier New', Courier, monospace;
    padding: 5px 0;
    font-size: 25px;
}
h4{
    color: rgb(30, 79, 172);
    font-family: 'Jazz LET, fantasy';
    padding: 0px 0;
    font-size: 45px;
}
.center{
  margin-left: auto;
  margin-right: auto;
}
.rant{
  padding-left: 250px;
  padding-right: 250px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.corner{
  position:absolute ;
  top:20px;
  right:40px;
  ;
}
.title{
    color: rgb(169, 116, 255);
    font-family: 'Jazz LET, fantasy';
    padding: 5px 0;
    font-size: 30px
}